.reference_wrapper
	.reference_title
		%h1 Rules
		.reference_nav_buttons
			#reference_nav_back.buttonInactive
				⬅️
			#reference_nav_forward.buttonInactive
				➡️
	.reference
	.medium_link
		%p This app is a work in progress. If you're reading this, the information you're looking for is not available yet. I have deployed the content reference feature in an unfinished state so that I can demonstrate the work I have completed while I spend time getting familiar with a new technology. I have been curious about the React.js framework for a while now and I believe it will help me going forward with this project. I will use the React framework to finish this feature and deploy it soon. For more information regarding my learning progression as a web developer you can visit my <a href="https://medium.com/@jeremybissonnette">Medium Blog</a>.








