.show
  = render partial: "characters/show" # show saved character states

.new
  -# Show Edit Character Skills form
  %h1 Skills
  = form_tag character_background_path(@character, @character.skill), :method => :put do
    = render partial: "new_or_edit"  # Show edit character form