%h3 Equipment List

= render partial: "belongings/show_partials/armour"
= render partial: "belongings/show_partials/gear"
= render partial: "belongings/show_partials/weapons"

= link_to "Edit Equipment", edit_belonging_path(@character)          
