%h3 Equipment List
- items(@character) # creates @items
- belongings(@character) # creates @belongings
= render partial: "belongings/show_partials/armour"
= render partial: "belongings/show_partials/weapons"
= render partial: "belongings/show_partials/gear"

= link_to "Edit Equipment", edit_character_belonging_path(@character.id, 1)          
