%h3 Equipment List

= render partial: "items/show_partials/armour"
= render partial: "items/show_partials/weapons"
= render partial: "items/show_partials/gear"

= link_to "Edit Equipment", edit_item_path(@character)          
