%br
%strong Adventuring Gear
%table#characters
  %thead
    %tr
      %th Quantity
      %th Name
      %th Weight
  %tbody
    
    - @items.each do |item|
      %tr
        - if item.category.match("^adventuring_gear")
          %td= belongings(@character, item)[0].quantity
          - if item[:pack]
            %td= item_name_to_link(item, @character) + item[:pack].humanize.capitalize
          -else
            %td= item_name_to_link(item, @character)
          %td= item[:weight]