%br
%strong Adventuring Gear
%table#characters
  %thead
    %tr
      %th Quantity
      %th Name
      %th Weight
  %tbody
    - belongings(@character)
    - @items.each do |item|
      %tr
        - if item.category.match("^adventuring_gear")
          - if !belonging_quantity(item, @belongings)
            %td 1
          - else
            %td= belonging_quantity(item, @belongings)
          - if pack(item, @belongings)
            %td= item_name_to_link(item, @character) + pack(item, @belongings).humanize.capitalize
          -else
            %td= item_name_to_link(item, @character)
          %td= item[:weight]