%br
%strong Weapons
%table#characters
  %thead
    %tr
      %th Name
      %th Damage
      %th Properties
  %tbody
    - @items.each do |item|
      %tr
        - if item[:type] == "weapon"   
          %td= item_name_to_link(item, @character)
          %td= item[:damage]
          %td= item[:properties]
