%h1 Waterborne Vehicles
%table#characters
  %thead
    %tr
      %th Name
      %th Cost
      %th Speed
  %tbody
    - @boats.each do |boat|  
      %tr
        %td= item_name_to_link(boat, nil)
        %td= cost_converter(boat[:cost])
        %td= boat[:speed].to_s + " mph"