%h1 Tools
%table#characters
  %thead
    %tr
      %th Name
      %th Cost
      %th Weight
      %th ID
  %tbody
    = render partial: "belongings/equipment_lists/items_categorized", :locals => { :itemss => categorize_items(@tools).sort }