%strong Strength:
=@character.ability.str
%br
%strong Dexterith:
=@character.ability.dex
%br
%strong Constitution:
=@character.ability.con
%br
%strong Intelligence:
=@character.ability.int
%br
%strong Wisdom:
=@character.ability.wis
%br
%strong Charisma:
=@character.ability.char
%br
