%h1 Adventuring Gear
%table#characters
	%thead
		%tr
			%th Name
			%th Cost
			%th Weight
	%tbody
		- @adventuring_gear.each do |k, v|
			%tr
				%td= name(k, v)
				%td= cost_converter(v[:cost])
				%td= weight(v[:weight])
