%h1 Adventuring Gear
%table#characters
  %thead
    %tr
      %th Name
      %th Cost
      %th Weight
  %tbody
    = render partial: "items_categorized", :locals => { :itemss => categorize_items(@adventuring_gear).sort }