%h1 Vehicles
%table#characters
  %thead
    %tr
      %th Name
      %th Cost
      %th Weight
  %tbody
    - @vehicles.each do |k, v|
      %tr
        %td= name(k, v)
        %td= cost_converter(v[:cost])
        %td= weight(v[:weight])