%h1 Armour
%table#characters
	%thead
		%tr
			%th Armour
			%th Cost
			%th Armour Class (AC)
			%th Strength
			%th Stealth
			%th Weight
	%tbody
		- @armour.each do |i|
			%tr
				%td= i.item
				%td= i.cost
%h1 Weapons

%h1 Adventuring Gear

%h1 Tools

%h1 Vehicles

%h1 Mounts