%h1 Mounts
%table#characters
  %thead
    %tr
      %th Name
      %th Cost
      %th Speed
      %th Weight
  %tbody
    - @mounts.each do |mount|
      %tr
        %td= item_name_to_link(mount, nil)
        %td= cost_converter(mount.cost)
        %td= mount.speed.to_s + " ft"
        %td= weight(mount.weight)