%h1 Mounts
%table#characters
  %thead
    %tr
      %th Name
      %th Cost
      %th Speed
      %th Weight
  %tbody
    - @mounts.each do |mount|
      %tr
        %td= mount[:name]
        %td= cost_converter(mount[:cost])
        %td= mount[:speed].to_s + " ft"
        %td= weight(mount[:weight])