%h1 Tools
%table#characters
  %thead
    %tr
      %th Name
      %th Cost
      %th Weight
      %th ID
  %tbody
    = render partial: "items/equipment_lists/items_categorized", :locals => { :items => @tools.sort }