= label :items_choices, :items_choices_one,"As an Sage you will start with:"
%ul
	%li Bottle black ink and quill
	%li Small knife
	%li Letter from a dead colleague posing a question you have not been able to answer
	%li Set of common clothes
	%li Belt puch with 10gp
