%h2 As an Soldier you will start with:
%ul
	%li Insignia of Rank
	%li Set of bone dice
	%li Set of common clothes
	%li Belt puch with 10gp
= label :background_items_choices, :background_items_choices_one, "Pick a trophy from a fallen enemy:"
= radio_button :background_items_choices, :background_items_choices_one, "17"
Dagger
= radio_button :background_items_choices, :background_items_choices_one, "302"
Broken blade
= radio_button :background_items_choices, :background_items_choices_one, "303"
Piece of banner
